::ng-deep {
  .button-primary {
    width: 142px;
    height: 36px;
    background-color: #7d40e7;
    border-radius: 4px;
    text-align: center;
    color: #fff;
  }

  .button-secondary {
    width: 142px;
    height: 36px;
    background-color: #CCCCCC;
    border-radius: 4px;
    text-align: center;
    color: #fff;
  }

  .input-search-custom {
    width: 237px;
    height: 36px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    opacity: 1;
  }

  .title {
    color: #444;
    letter-spacing: 0;
    font-weight: 500;
  }
  .active {
    background-color: #ddd;
  }

  .table-custom {
    .mat-table {
      background-color: transparent;
      border-collapse: separate;
      border-spacing: 0 1.5rem;
    }

    .mat-header-cell {
      background-color: #f5f5f5;
      border: none;
      font-size: 16px;
      color: #444;
      font-weight: 600;
    }

    .mat-header-row {
      height: 0;
      transform: translateY(70%);
    }

    .mat-cell {
      height: 57px;
      background-color: #fff;
    }
  }

  @media screen and (max-width: 730px) {
    .mat-table {
      .mat-header-cell {
        clip: rect(0 0 0 0);
        position: absolute;
        font-weight: bold;
      }

      .mat-cell {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        height: 57px;
        color: #444;
        font-weight: 600;
      }

      .mat-cell:before {
        content: attr(data-label);
        text-transform: uppercase;
      }

      .mat-cell:first-child {
        padding-left: 15px;
      }
    }
  }
}
