::ng-deep {
  #delivery-list {
    .search {
      height: 40px;
    }

    .delivery-status {
      border-radius: 12px;
      text-align: center;
      padding-right: 10px;
      padding-left: 5px;
      width: 195px !important;
      .point {
        font-size: 15px;
      }
    }

    .action {
      cursor: pointer;
      text-align: center;
      color: #c6c6c6;
      position: relative;
    }

    .action-button {
      position: absolute;
      top: 9px;
      right: 24px;
    } 
  }
}
