<main class="mt-5 mb-2">
  <section class="d-flex justify-content-between">
    <article>
      <h4 class="mb-4 px-0">{{ title }}</h4>
    </article>

    <article>
      <button
        mat-raised-button
        class="button-secondary mr-3"
        [routerLink]="linkBack"
      >
        <mat-icon>keyboard_arrow_left</mat-icon> VOLTAR
      </button>

      <button mat-raised-button class="button-primary" (click)="onSubmit()">
        <mat-icon>done</mat-icon> {{ name?.label }}
      </button>
    </article>
  </section>
</main>
