<section class="container">
  <header>
    <app-page-header-form
      [title]="'Cadastro de destinatário'"
      [linkBack]="'/panel/recipient/list'"
      [typeAction]="typeAction"
      (nameTypeAction)="onSubmit($event)"
    >
    </app-page-header-form>
  </header>
  <main>
    <mat-card>
      <mat-card-content>
        <form class="row" [formGroup]="recipientForm">
          <!-- Nome -->
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>

          <!-- Rua -->
          <mat-form-field appearance="outline" class="col-8">
            <mat-label>Rua</mat-label>
            <input matInput formControlName="street" />
          </mat-form-field>

          <!-- Número -->
          <mat-form-field appearance="outline" class="col-12 col-md-4">
            <mat-label>Número</mat-label>
            <input matInput formControlName="address_number" />
          </mat-form-field>

          <!-- Complemento -->
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>Complemento</mat-label>
            <input matInput formControlName="complement" />
          </mat-form-field>

          <!-- CEP -->
          <mat-form-field appearance="outline" class="col-12 col-md-4">
            <mat-label>CEP</mat-label>
            <input matInput formControlName="zipcode" />
          </mat-form-field>

          <!-- Cidade -->
          <mat-form-field appearance="outline" class="col-12 col-md-4">
            <mat-label>Cidade</mat-label>
            <input matInput formControlName="state" />
          </mat-form-field>

          <!-- Estado -->
          <mat-form-field appearance="outline" class="col-12 col-md-4">
            <mat-label>Estado</mat-label>
            <input matInput formControlName="city" />
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
  </main>
</section>
