::ng-deep {
  .mat-menu-content {
    width: 150px !important;
  }

  .mat-menu-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

#recipient-list {
  .action {
    cursor: pointer;
    text-align: right;
    color: #c6c6c6;
    position: relative;
  }
}
