<section class="container">
  <header>
    <app-page-header-form
      [title]="'Cadastro encomendas'"
      [linkBack]="'/panel/delivery/list'"
      [typeAction]="typeAction"
      (nameTypeAction)="onSubmit($event)"
    ></app-page-header-form>
  </header>

  <mat-card *ngIf="!loadingDelivery">
    <mat-card-content>
      <form class="row mt-4 px-3" [formGroup]="deliveryForm">
        <!-- Entregador -->
        <mat-form-field class="col-12 col-md-6" *ngIf="!loading">
          <mat-label for="deliveryman_id">Destinatário</mat-label>
          <mat-select id="deliveryman_id" formControlName="deliveryman_id">
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let deliveryman of deliveryManResponseModel.data"
              [value]="deliveryman.id"
            >
              {{ deliveryman?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Destinatário -->
        <mat-form-field class="col-12 col-md-6" *ngIf="!loading">
          <mat-label for="recipient_id">Entregador</mat-label>
          <mat-select id="recipient_id" formControlName="recipient_id">
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let recipient of recipientResponseModel.data"
              [value]="recipient.id"
            >
              {{ recipient?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Nome do produto -->
        <mat-form-field appearance="outline" class="col-12">
          <mat-label for="product">Nome do produto</mat-label>
          <input id="product" matInput formControlName="product" />
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

  <app-loading
    *ngIf="loadingDelivery"
    class="d-flex justify-content-center"
  ></app-loading>
</section>
