<article
  id="delivery-problem"
  class="container mt-4"
  *ngIf="!loadingService.loading"
>
  <app-page-header-list
    [title]="'Problemas na entrega'"
    [label]="'Buscar por problemas'"
    [isShowButton]="false"
  >
  </app-page-header-list>

  <section class="row table-custom table-responsive">
    <table class="table table-borderless table-custom mb-0 pb-0">
      <thead>
        <tr>
          <th scope="col">Encomenda</th>
          <th scope="col">Problema</th>
          <th scope="col" class="text-center">AÇÃO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let problem of deliveryProblem.data">
          <td>{{ problem.delivery.product }}</td>
          <td>{{ problem.description }}</td>

          <td class="p-0 action text-center">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #menu="matMenu" class="px-2">
              <button mat-menu-item>
                <mat-icon color="primary">remove_red_eye</mat-icon>
                <span>Visualizar</span>
              </button>

              <mat-divider></mat-divider>

              <button mat-menu-item>
                <mat-icon color="accent">edit</mat-icon>
                <span>Cancelar encomenda</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="row pb-3">
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="totalItems"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex"
    >
    </mat-paginator>
  </section>
</article>
