::ng-deep {
  .mat-toolbar {
    background-color: #fff !important;
  }

  .mat-list-item-content {
    color: #999 !important;
  }

  .mat-list-item {
    font-size: 15px !important;
  }
}

#toolbar {
  .list {
    height: 64px;
  }

  .user-info {
    font-size: 14px;
    padding-top: 4px;
    display: flex;
    flex-direction: column;


    .user-name {
      color: #666;
      font-weight: bold;
    }

    .singout {
      color: #de3b3b;
      cursor: pointer;
    }
  }
}
