::ng-deep {
  #deliveryman-list {
    .search {
      height: 40px;
    }

    .action {
      cursor: pointer;
      text-align: center;
      color: #c6c6c6;
      position: relative;
    }

    .action-button {
      position: absolute;
      top: 9px;
      right: 24px;
    } 
  }
}
