<article id="deliveryman-list">
  <app-page-header-list
    [title]="'Gerenciando entregadores'"
    [label]="'Buscar por entregadores'"
    [iconName]="'add'"
    [link]="'/cockpit/deliveryman/form'"
    [buttonName]="'CADASTRAR'"
  >
  </app-page-header-list>

  <section class="row table-custom table-responsive" *ngIf="!loading">
    <table class="table table-borderless table-custom mb-0 pb-0">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col" class="text-center">AÇÃO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deliveryman of deliveryManResponseModel.data">
          <td>{{ deliveryman.name }}</td>
          <td>{{ deliveryman.email }}</td>
          <td class="p-0 action text-center">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #menu="matMenu" class="px-2">
              <button mat-menu-item>
                <mat-icon color="primary">remove_red_eye</mat-icon>
                <span>Visualizar</span>
              </button>

              <mat-divider></mat-divider>

              <button mat-menu-item (click)="goForm(deliveryman)">
                <mat-icon color="accent">edit</mat-icon>
                <span>Editar</span>
              </button>

              <mat-divider></mat-divider>

              <button mat-menu-item (click)="goForm(deliveryman)">
                <mat-icon color="warn">delete</mat-icon>
                <span>Excluir</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="row pb-3">
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="totalItems"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex"
    >
    </mat-paginator>
  </section>
</article>
