::ng-deep {
  #toolbar {
    .mat-toolbar {
      background-color: #fff;
    }
    .list {
      height: 64px;

      .mat-list-item-content {
        color: #999999;
      }
    }

    .user-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      line-height: unset;
      .user-name {
        font-size: 14px;
        color: #666666;
      }
      .singout {
        font-size: 14px;
        color: #de3b3b;
        cursor: pointer;
      }
    }
  }
}
